.slide-img {
    height: 90vh;
    width: 100vw;
}

.carousel-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 90vh;
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient(to right, #151515 0%, rgba(11, 11, 11, 0) 60%);
}